body{
	max-width: 1280px;
	min-width:1280px;
	/*max-height: 1496px;*/
	margin-right: auto;	
	margin-left:auto;
	

}
.container{
        background-image: url("(0)background2.png");
	background-repeat:no-repeat;
	background-color:#000000;
	
}
.clear:after{
	content:"";
	display:block;
	clear:both;
}

.headrow {
    margin-left:auto;
    margin-right:auto;
    height: 0px;
 }
 .headtext{
 	text-align: center;
	margin-right: auto;
        margin-left: auto;
 }
 .img{
     margin-left:418px;
     margin-top:32px;
}
.intro1 p{
	margin-top: 25px ;
	margin-left: 506px;
	color: #000000;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
    font-style: italic;
}
.intro2 p{
	width:444px;
	margin-top: 50px ;
	margin-bottom:0px;
	margin-left: 440px;
	color: #000000;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
}

.site-nav {
	width:940px;
	/*margin-left:170px;*/
    margin-top:25px;
    background-color: #362e2b;
    height:66px;
    border-radius: 3px;
    margin-right: auto;	
    margin-left:auto;
    background-position: center 0%;
    
}
.site-nav ul{
	margin:0px;
	padding:0px;
}  
.site-nav li{
	list-style: none;
	float:left;
	margin:16px 65px;
   /* font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    padding-top:16px;
    padding-right:132px;
    padding-bottom: 16px;*/
}
.site-nav a{
    display: block;
    text-decoration: none;
    color: pink;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    /*transition: color 0.9s;
    transition: font-size 0.9s;*/
}
.site-nav a:hover
{ 
    color:orange;
}
.fbbtn{
	margin-top:25px;
	float:left;
    margin-left:555px;
}
.fbbtn a:hover{
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(6px 6px 3px rgba(0, 0, 0, 0.4))
}
.igbtn{
    margin-top:25px;
   	float:right;
   	margin-right:555px;
}
.igbtn a:hover{
   	-webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(6px 6px 3px rgba(0, 0, 0, 0.4))
}
.footer{
	margin-top:50px;
    background-color: #362e2b;
    height:401.5px;
    width:1280px; 
    margin-right: auto;	
	margin-left:auto;
    background-position: center 0%;
    min-width:1280px;   
}
.footer p{
	margin-left:auto;
	margin-right:auto;
}
.clear:after {
	content:"";
	display: block;
	clear: both;
}
